html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

p {
  margin: 1em 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.opera-only:-o-prefocus {
  word-spacing: -.43em;
}

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.opera-only:-o-prefocus {
  word-spacing: -.43em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
}

h1 {
  color: #34495e;
}

a:link {
  color: #000;
  text-decoration: underline;
}

a:active {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.splash-container {
  background: #fff;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.splash {
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
}

.splash-subhead {
  color: black;
  letter-spacing: 0.05em;
  opacity: 0.8;
  text-transform: uppercase;
}

@media (min-width:48em) {
  body {
    font-size: 16px;
  }

  .splash {
    width: 50%;
    height: 50%;
  }
}

h1,
h3 {
  color: #333;
  text-transform: uppercase;
}

small {
  text-transform: uppercase;
}

.no-upcase {
  text-transform: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

#search {
  -webkit-appearance: none;
  padding: 2px 8px;
  width: 300px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid grey;
  border-right: none;
  line-height: 24px;
  outline: none;
}

#search-submit {
  padding: 2px 8px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  line-height: 24px;
  color: grey;
  border-left: none;
  background-color: transparent;
  border: 1px solid grey;
  border-left: none;
  margin: 0;
}

#search-submit svg {
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  fill: currentColor;
  vertical-align: sub;
}

#search-results {
  list-style: none;
  padding: 8px;
  line-height: 28px;
  width: 320px;
  margin: 0 auto;
  background-color: #efefef;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #34495e;
}

#search-results:empty {
   display: none;
}

#search-results li {
  text-align: left;
}

#search-results a {
  text-decoration: none;
}
